
nav{
  
    width: 1900px;
    height: 170px;
    
}

.h1{
   font-family: sans-serif;
  }
#logo{
 width: 14%;   
}
#botaoCadastro{
  border-radius: 8px;
    
}
.logosMenu{  
  text-align: center;
  margin: auto;
}
.logosMenu a{
  color:white;
  text-decoration: none;
  
}

#pesquisa{
  display: flex;  
  justify-content: start;
  width:600px;
  margin: -40px 130px ;  
   
}
.button4 {
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    cursor: pointer;
    height: 40px;
  }
  
  .button4:hover {    
    background-color: #e7e7e7;
}
.active h1{
  color: white;
  text-align: center;
  font-size: 70px;
  margin: 40px;
}
.slide{
  flex-wrap: wrap;
  display: flex;
  height: 800px;
  background-color: black;
}
.imagemsPromocao{
  display: flex;
  list-style: none;
  margin-left: 430px;
  text-align: center;
  color: white;
}
.imagemsPromocao img{
  width: 140px; 
  margin: 70px 50px 20px 50px;

}
.imagemsPromocao2{
  display: flex;
  list-style: none;
  margin-left: 430px;
  text-align: center;
  color: white;
}
.imagemsPromocao2 img{
  width: 140px; 
  margin: 100px 50px 20px 50px;

}
#buneco1{
  
    display: flex;
    justify-content: flex-start;
    width: 500px;
    margin: -650px -50px 0px 0px;
   ;

}
#buneco2{
    z-index: -1;
    display: flex;
    justify-content:flex-end;
    margin: -760px 0px 0px 0px;
    margin-left: 1400px;
    width: 530px;
}
.destaques{
  background-color: rgb(27, 26, 26);
  height: 100px;
  text-align: center;
  color: white;
}
 .destaques h1{ 
     
    font-size: 70px;
} 
.imagemsDestaque{
  display: flex;
  list-style: none;
  margin-left: 380px;
  text-align: center;
  color: black;
}
.imagemsDestaque img{
  width: 140px; 
  margin: 100px 70px 20px 70px;
}
#imgDestaque{
height: 360px;
}
.departamentos{ 
  height: 100px;
  background-color: rgb(27, 26, 26);
  text-align: center;
  color: white;
}
.departamentos h1{
  font-size: 70px;
}
.imgdepartamentos{
  display: flex;
  list-style: none;
  margin-left: 60px;
  text-align: center;
  color: black;
}
.imgdepartamentos img{
  width: 40%; 
  margin: 100px 30px 20px 100px;
  border-radius: 50%;
}
  .iconesDepartamento a{
   text-decoration: none;
   }
.iconesDepartamento img{
  width: 129px;
  height:129px;
  border-radius: 50%;
  
}
.imgDepartamento{
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 40px 15px;
  margin: 40px -90px; 
}
.imgDepartamento p {
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  color: black;
  text-decoration: none;
}
.rodape{  
  position: sticky;
  
  text-align: center;  
  background: linear-gradient(180deg, rgba(255, 5, 5, 0.032) 1%, rgba(255, 5, 5, 0.8) 36.19%, rgba(40, 5, 255, 0.8) 75.48%);
   }
   .rodape h1{
    font-size: 70px;
    font-weight: bold;
    font-family: sans-serif;
   }
   .rodape p{
    font-family: sans-serif;
    color: white;
    text-align: justify;
      }
      #tel{
        padding: 100px;
      }
.row{
  text-align: justify;
  padding-top: 30px;
  margin: 0px 15px;
}
#iconeInsta{
  height: 60px;
  justify-content: end;
  position: absolute;
  margin: -150px 0px 30px 500px;
}
#iconeLinkedin{
  height: 60px;
  position: absolute;
  margin: -150px 0px 30px 620px;
  
}
#iconeFace{
  height: 60px;
  position: absolute;
  margin: -150px 15px 30px 560px;
}
  .iconesCabecalho a{
    text-decoration: none;
    color: white;
  }
  a:hover{
    color: red;
  }
  * {
    box-sizing: border-box;
  }
  main{
    width: 1900px;
  }
  footer{
    width: 1900px;
  }
  body{
    width: 1900px;
  }
  .column {
    float: left;
    width: 25%;
  }

 