header {
    background: linear-gradient(269.92deg, #2805FF 0.73%, #2805FF 25.75%, #FF0505 49.21%, #FF0505 68.09%, rgba(255, 5, 5, 0) 91.54%); 
  height: 180px;
}
body {
    background-color: white;
}
.alinhamentoHeader{
    height: 80px;
    display:flex;   

}
.iconesNavegador {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-right: 20px;
    
}
.iconesNavegador a{
margin-right: 20px;
align-items: center;
}
.botaoLogin{
    
  display: inline-block;
    text-align: center;
   margin:100px 1130px ;
   padding: 15px 30px;
   
   -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;   
}
.botaoLogin button {
   width: 100%;
   display: inline;
         
    font-size: 15px;
    box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
